body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header {
  display: flex;
  height: 20vh;
  padding: 1vh;
  background-color: black;
}

.logo {
  text-align: left;
  width: 50vw;
}

#logo {
  padding: 2vh;
  width: 30%;
}

#chosen {
  height: 50vh;
  padding: 5px;
  margin: 0 auto;
}

#chosen .row {
  display: flex;
}

#chosen .top{
  width: 500px;
  height: 20vw;
  padding: 2px;
}

#choice1{
	padding: 2px;
	width: 300px;
    height: 20vw;
}

#choice3{
	padding: 2px;
	width: 300px;
    height: 20vw;
}

#choice2{
	padding: 2px;
	width: 300px;
    height: 20vw;
}

#chosen .bottom{
  height: 20vh;
  width: 300px;
  padding: 2px;
}

#chosen .col{
  width: 20vw;
}

#gifs {
  height: 50vh;
  padding: 5px;
  margin: 0 auto;
}

#gifs .row{
  display: flex;
 }

 #gifs .bottom{
 	height: 20vw;
 }

#gifs .col2{
  width: 25vw;
  height: 20vw;
  padding: 2px;
}

#gifs .cards1{
	width: 10px;
	height: 15px;
	padding: 1.5px;
}

#gifs .cards2{
	width: 10px;
	height: 15px;
	padding: 1.5px;
}
#gifs .cards3{
	width: 10px;
	height: 15px;
	padding: 1.5px;
}
#gifs .cards4{
	width: 10px;
	height: 15px;
	padding: 1.5px;
}
#gifs .cards5{
	width: 10px;
	height: 15px;
	padding: 1.5px;
}

#gifs img.animated-gif{
  width: 250px;
  height: auto;
}

footer {
  height: 10vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
}
